$color-primary: #579c87;
$color-secondary: #fdcb46;

$menu-box-shadow: 0px 0px 14px 8px lightgrey;

/*Couleurs Menu Note*/

$color-note-background: #fcdfdb;
$color-note-1: #714a4e;
$color-note-2: #40161c;

/*Couleur Chic à la française*/

$color-chic-background: #fff5fe;
$color-chic-titre-1: #d08c3e;
$color-chic-txt-1: #d18d41;
$color-chic-titre-2: #b480aa;
$color-chic-txt-2: #c9a0c1;
$color-chic-titre-3: #7a5ad0;
$color-chic-txt-3: #ae96e2;

/*Couleurs Délice Papilles*/

$color-delice-1: #0e32de;
$color-delice-2: #0c73f3;
$color-delice-3: #4eaff7;
$color-delice-background-1: #f9f9f9;
$color-delice-background-2: #edefef;
$color-delice-txt: black;



/*Couleur Menu 4*/

$color-palette-1: #469840;
$color-palette-2: #72bf56;
$color-palette-3: #c8fd95;
$color-palette-background: #fdfffd;
$color-palette-txt: black;